// globals
@background:   #1d1f21;
@current-line: #282a2e;
@foreground:   #c5c8c6;

// misc
@error: #c82829;
@toolbar-top: #444;
@toolbar-bottom: #333;
@top-bar-color: #000;
@top-bar-width: 1px;
@tree-arrow-down:  "chrome-devtools://devtools/Images/treeDownTriangleWhite.png";
@tree-arrow-right: "chrome-devtools://devtools/Images/treeRightTriangleWhite.png";
